.center{
    max-width: 1000px;
    max-height: 1000px;
    align-items: center;
    border: 5px solid white;
    margin-left: 70px;
    margin-top: 50px;
    
}
*{
    background-color: black;
}
h1{
    color: antiquewhite;
    text-align: center;
}
h3{
    color: white;
    text-align: center;
}